<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messtokenapp">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.MessTokenApp"
        android:label="MessTokenApp">

        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".MealSelectActivity" android:exported="false"/>
        <activity android:name=".AdminActivity" android:exported="false"/>
        <activity android:name=".HomeActivity" android:exported="false"/>

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>